<%- include('./header.ejs') %>

        <div class="content mt-3">
            <div class="container">
                <h1 class="text-center"
                    style="color: black; font-family: 'Raleway',sans-serif; font-size: 43px; font-weight: 800; line-height: 72px; margin: 0 0 24px; text-align: center; text-transform: uppercase;">
                    REGISTRATION DETAILS</h1>
                    
                <hr>
                <table class="table table-hover table-dark">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Status</th>
                            <th scope="col">Comments</th>
                            <th scope="col"></th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% d.forEach((item)=>{ %>
                            <tr>
                                <td>
                                    <%= item._id %>
                                </td>
                                <td>
                                    <%= item.name %>
                                </td>
                                <td>
                                    <%= item.email %>
                                </td>
                                <% if(item.status==="Accepted") {%>
                                    <td><button class="btn btn-success"><%= item.status %></button></td>
                                    <%  } else{%>
                                      <td><button class="btn btn-danger"><%= item.status %></button></td>
                                      <% } %>
                                    <!-- Start Form tag from here-->
                                    <form action="/admin/update_status/<%= item._id %>" method="POST">
        
                                    
                                    <td><textarea name="comment" ></textarea></td>
                                    <td>
                                      <button name="status" value="Rejected" class="btn btn-danger">Rejected</button>
                                      <button name="status" value="Accepted" class="btn btn-success">Accepted</button>
                                    </td>
                                  </form>
                                <td><a href="/admin/view_registerdetail/<%= item._id %>" class="btn btn-info">view</a>
                                    <a href="/admin/delete_register/<%= item._id %>" class="btn btn-danger">delete</a>
                                </td>
                            </tr>




                            <% }) %>

                    </tbody>

                </table>
               <center> <a href="/admin/dashboard" class="btn" style="background: rgba(238,174,202,1);" >Back To Dashboard</a></center>
            </div>
        </div> <!-- .content -->


    <!-- Right Panel -->